/*******************************/



/*******************************/

/***************************/
@font-face {
    font-family: texto;
    src: url(../font/ShareTech-Regular.ttf);
}

@font-face {
    font-family: titulo;
    src: url(../font/ethnocentric\ rg.otf);
}

@font-face {
    font-family: PCTECH;
    src: url(../font/pricedown\ bl.otf);
}    


/**** general layout****/

body {background-color: black;
        color: white;
        font-family: texto;
        font-size: 2em;}

#wrapper {width:80%;
        margin: auto;
        background-color:#8a2be2;}

.titulo{ font-family: titulo;
        text-align: center;
}

/***************barra de navegación***************/

nav {font-family: titulo;
        text-align: center;
    }

/***** hero section **********/

#hero {background-image: url(../img/tai-bui-Q-xGz9NOVOE-unsplash.jpg);
        height: 80vh;/*Forzar el alto de la hero para ver la foto*/
        width: 100%; 
        display: block;
        background-size: cover; /*Estira la foto para encajar*/
        background-position:66.66% ; /**donde esta el punto de interés**/
        font-family: titulo;
        color: rgb(255, 255, 255);
        font-size:1.5em ;
        font-family: titulo;
        border-top: 3px solid white;
        text-align: left;
        padding-top: 10%;
        padding-left: 5%;
        bottom:0;
        } 

/**************INTRO SECTION**************/

#intro{padding: 5%;
        border-bottom: 2px solid white;
}

#video-placa-base{width: 100%; /*Para que la foto no se salga, indicar el ancho siempre*/
        float: left; /*FOTO pegada a la izquierda*/
        margin:20px 15px 10px 0 ; /*Para que corra aire alrededor de la foto*/
}

/*****************section gallery****************/
#gallery{padding: 5% 0 ;

}







/********** responsividad *********/

@media only screen and (width<650px){
    #wrapper {width: 95%;}
}

#Parrafo{ font-family:PCTECH;
    position: absolute;
    bottom: 0%;
    left: 25%;
    padding: 10px;
    border: solid 7px white;
    font-size: 50px;
    padding-right: 20px;
    box-shadow: inset 5px 5px 10px 10px #8a2be2;
}

