/**********************************************/
/*      AUTOR: Miguel Angel Postigo Bernal ****/
/***          version: 1.5                  ***/
/* coment: proyecto de página web fin de curso*/
/**********************************************/

/***************************/
@font-face {
        font-family: texto;
        src: url(../font/ShareTech-Regular.ttf);
}

@font-face {
        font-family: titulo;
        src: url(../font/ethnocentric\ rg.otf);
}

@font-face {
        font-family: PCTECH;
        src: url(../font/pricedown\ bl.otf);
}    


/**** general layout****/

*{
        list-style: none;
}

body {background-color: black;
        color: white;
        font-family: texto;
        font-size: 2em;}

#wrapper {width:80%;
        margin: auto;
        background-color:#8a2be2;
}


.titulo{ font-family: titulo;
        text-align: center;
        padding: 20px;
        font-size: 30px;
}


.texto{ font-family: texto;
        margin: 20px;
        line-height: 1.5;
}

html {scroll-behavior: smooth;}

/***************barra de navegación***************/




nav {   position: sticky;
        font-family: titulo;
        text-align: center;
        top:0;
        z-index: 99;
}
/* Add a black background color to the top navigation */
.topnav {
        background-color: black;
        overflow: hidden;
        opacity: 85%;
}

      /* Style the links inside the navigation bar */
.topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
}

      /* Change the color of links on hover */
.topnav a:hover {
        background-color: #8a2be2;
        color: black;
}

      /* Add an active class to highlight the current page */
.topnav a.active {
        background-color: #8a2be2;
        color: white;
}

      /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
        display: none;
}




/***** hero section **********/

#hero {background-image: url(../img/tai-bui-Q-xGz9NOVOE-unsplash.jpg);
        height: 80vh;
        width: 100%; 
        display: block;
        background-size: cover;
        background-position:30% ;
        font-family: titulo;
        color: rgb(255, 255, 255);
        font-size:1.5em ;
        font-family: titulo;
        border-top: 3px solid white;
        text-align: left;
        padding-top: 10%;
        padding-left: 0%;
        bottom:0;
        } 

#Parrafo{ font-family:PCTECH;
        position: absolute;
        bottom: 13%;
        left: 25%;
        padding: 10px;
        border: solid 7px white;
        font-size: 50px;
        padding-right: 20px;
        box-shadow: inset 5px 5px 10px 10px #8a2be2;
        }




/**************INTRO SECTION**************/

#intro{padding: 5%;
        border-bottom: 2px solid white;
}

#video-placa-base{width: 100%;
        float: left;
        margin:20px 15px 10px 0 ; 
}

.h2{text-align: center;
        padding: 30px 10px 30px 10px;

}

.caja{  background-color: black;
        
}

/****************SECTION EJEMPLO-GRID-2**********+*/

.grid-2 {display: grid;
        grid-template-columns: 50% 50%;
} 

.col-2 {padding: 4%;}

#ejemplo-grid-2 img {width: 100%;}


#boton1 {margin-bottom: 5%;
        background-color: #8a2be2;
        border: 2px solid black;
        color: black;
        padding: 10px;
        font-weight: bold;
        transition: 0.4s;
        }
        
#boton1:hover{background-color: #690dbe;
        border: 2px solid whitesmoke;
        color: white;
        padding: 10px;
        font-size: 0.5em;
        transition: 0.4s;
        }


#boton2 {margin-bottom: 5%;
        background-color: #8a2be2;
        border: 2px solid black;
        color: black;
        padding: 10px;
        font-weight: bold;
        transition: 0.4s;
}

#boton2:hover{background-color: #690dbe;
                border: 2px solid whitesmoke;
                color: white;
                padding: 10px;
                font-size: 0.5em;
                transition: 0.4s;
}




/********************SECTION PC PRINCIPALES***************************/

*,
*::before,
*::after{
margin:0;
padding: 0;
box-sizing: inherit;
}



/*Section used for centering process*/
#PC_PRINCIPALES {
width: 100%;
height: 165vh;
background-color: #000000;
display: flex;
align-items: center;
justify-content: center;
}

.container{
        width: 70%;
        max-width: 100rem;
        margin: 0 auto;
        padding: 0 1.5rem;
}

.accordion-item{
background-color: #000000;
border-radius: .4rem;
}


.accordion-item hr{
border: 1px solid rgba(255, 255, 255, 0.5);
}

.accordion-link{
font-size: 1.6rem;
color: rgba(255,255,255,.8);
text-decoration: none;
background-color: #000000;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem 0;
}

.accordion-link:hover {
        background-color: white;
        color: black;
        transition: 0.6s;
        font-family: texto;
}

.accordion-link h3{
        font-weight:500;
        font-size: 20px;
}

.accordion-link h3:hover {
        font-weight: bolder;
}


.accordion-link i{
color: #e7d5ff;
padding: .5rem;

}

.accordion-link ul{
display:flex;
align-items: flex-end;
list-style-type: none;
margin-left: 25px;
}

.accordion-link li{
font-size: 10px;
color: rgba(255, 255, 255, 0.4);
padding: 0 0 1px 5px;
}

.accordion-link div{
display: flex;
}

.accordion-link .ion-md-arrow-down{
display: none;
}

.answer{
max-height: 0;
overflow: hidden;
position: relative;
background-color: #000;
transition: max-height 650ms;
}



.answer p{
color: #fff;
font-size: 15px;
padding: 2rem;

}

.accordion-item:target .answer{
max-height: 200rem;
}

.accordion-item:target .accordion-link .ion-md-arrow-forward{
display: none
}

.accordion-item:target .accordion-link .ion-md-arrow-down{
display: block;
}



/********+SECCION DE FOTOS********************/

#fotos img{width:100%;

}

/* Container needed to position the overlay. Adjust the width as needed */
.container2 {
        position: relative;
        width: 100%;
        max-width: 300px;
}

      /* Make the image to responsive */
.image {
        display: block;
        width: 100%;
        height: auto;
}

      /* The overlay effect - lays on top of the container and over the image */
.overlay {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 0.3em;
        padding: 0px;
        text-align: center;
}

      /* When you mouse over the container, fade in the overlay title */
.container2:hover .overlay {
        opacity: 1;
}



/*****************section gallery****************/
#gallery{padding: 5% ;

}
.grid-4 {display: grid;
        grid-template-columns: 25% 25% 25% 25%;}
#gallery img {width: 100%}

.col-4 {padding: 8%;
        border: 1px solid burlywood}

#gallery h3 {font-family: titulo;
                font-size: 20px;}


/***************FOOTER*************************/
.footer {
        background-color: black;
        color: #fff;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 100px;
        width: 100%;
}

.footer-row {
        display: flex;
        flex-wrap: wrap;
}

.footer-links {
        width: 25%;
        padding: 0 25px;
}

.footer-links h4 {
        font-family: titulo;
        font-size: 25px;
        color: #FFFF;
        margin: 25px;
        font-weight: 500;
        padding-bottom: 10px;
        display: inline-block;
}


.social-link a {
        display: inline-block;
        min-height: 40px;
        width: 40px;
        background-color: black;
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 20%;
        color: #FFFFFF;
}
.social-link a:hover {
        background-color: #8a2be2;
        color:black;
}

.footer-links ul li a {
        font-size: 25px;
        color: white;
        display: block;
        margin-bottom: 15px;
        transition: all .3s ease;
}

.footer-links ul li a:hover {
background-color: #8a2be2;
transition: 0.4s;
}

a {text-decoration: none;
        color: inherit;}

/********** responsividad *********/

@media only screen and (width<900px){
        .grid-4{grid-template-columns:50% 50% ;}

}



@media only screen and (width<650px){
        #wrapper {width: 95%;}
        #drakkar {width:100%;}
        .grid-2{grid-template-columns: 100%;}
        .grid-4{grid-template-columns: 100%;}
}





/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
        .topnav a:not(:first-child) {display: none;}
        .topnav a.icon {
        float: right;
        display: block;
        }
}

      /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
        .topnav.responsive {position: relative;}
        .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
        }
.topnav.responsive a {
float: none;
display: block;
text-align: left;
}
}

@media screen and (max-width: 600px) {
        .container {position: relative;}
}

@media (max-width: 600px) {
        .footer-row {
text-align: center;
        }

        .footer-links {
width: 100%;
margin-bottom: 30px;
        }
}