/**********************************************/



/**********************************************/

@font-face {
    font-family: titulos;
    src: url();
}

@font-face {
    font-family: texto;
    src: url();
}

* {box-sizing: border-box;}  /* el width incluye el padding 
                                el espacio en blanco lo coge
                                de dentro del cuadro 
                                lo haré SIEMPRE */

body {background-color:rgb(152, 130, 172);
    background-image: url(./img/crepes_fondo.jpg);
        background-size: 50%;}

#wrapper {background-color: #FFFDD0;
          width:80%;             /* el width va en %  */
          margin:auto;
          padding:10%;
          border-radius:20px;
        
}              

h1 {border:2px solid red;
    text-align:center;
    padding:10px 0;
    /* sombra de caja */
    box-shadow: -15px -15px 15px gray;
}

blockquote {border-left:3px solid blueviolet;
            font-style: italic;  /* poner en cursiva */
            font-weight: bold;   /* poner en negrita */
            background-color: #c8c7c7;
            padding:10px;        /* margin y padding pequeños pueden estar en pixeles */
        }
#foto {width: 25%;  /* a todo el ancho de donde estás colocada, en este caso, el wrapper */
        margin:auto
        display:block   /*  para que se comporte como un bloque */
    } 

dt {font-weight:bold;
    color:rgb(70, 17, 126);
    font-size:1.2em;}